<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <events>
      <event name="item:saved">
        <handler type="Sitecore.Sharedsource.Tasks.NewsMover, Sitecore.Sharedsource.NewsMover" method="OnItemSaved">
          <database>master</database>
          <!-- 
          Legacy configuration still works: 
            <datefield>releasedate</datefield>
            <articletemplate>user defined/newsarticle</articletemplate>
            <yeartemplate>common/folder</yeartemplate>
            <monthtemplate>common/folder</monthtemplate>
            <daytemplate>common/folder</daytemplate>
            -->

          
          <templates hint="raw:AddTemplateConfiguration">

            <!--
            Define a template configuration.
              @id: [required] Any item based on the configured template will be ogranized
              @sort: [optional] How to configure the sorting of 'folders' and the item (Ascending, Descending, null)
                DateField: [required] The field on the template where the date is set
                YearTemplate: [required] The template to use for creating year 'folders'
                MonthTemplate: [optional] The template to use for creating month 'folders'
                DayTemplate: [optional] The template to use for creating day 'folders'
                @formatString: [optional] The Year/Month/Day nodes support this attribute. 
                                          It will control how to format the date for the name of item
                                          defaults - yyyy/MM/dd for year, month, day nodes respectivley
            -->
            
            <template id="user defined/newsarticle" sort="Descending">
              <DateField>releasedate</DateField>
              <YearTemplate formatString="yyyy">Common/Folder</YearTemplate>
              <MonthTemplate formatString="MMMM">Common/Folder</MonthTemplate>
              <DayTemplate formatString="dd">Common/Folder</DayTemplate>
            </template>

            <template id="user defined/event" sort="Ascending">
              <DateField>eventdate</DateField>
              <YearTemplate formatString="yyyy">Common/Folder</YearTemplate>
              <MonthTemplate formatString="MMMM">Common/Folder</MonthTemplate>
              <DayTemplate formatString="dd">Common/Folder</DayTemplate>
            </template>
            
          </templates>
         
        </handler>
      </event>
    </events>
    <pipelines>
      <NewsMover.MoveCompleted>
        <processor type="Sitecore.Sharedsource.NewsMover.Pipelines.RefreshContentTree, Sitecore.Sharedsource.NewsMover" />
      </NewsMover.MoveCompleted>
    </pipelines>
  </sitecore>
</configuration>
